/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0rem 0rem 0rem 0rem;
    box-sizing: border-box;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.cabecalho__logo-nome {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: nowrap;
}

.cabecalho__logo {
    max-width: 80px; /* Ajuste para telas pequenas */
}

.navegacao {
    margin-left: auto;
    margin-right: 20px;
}

.navegacao__lista {
    display: flex;
    gap: 1rem;
    white-space: nowrap ;
    font-weight:500;
    font-size: 16px;
    list-style: none;
}

.navegacao__elemento {
    margin-left: 20px;
}

.cabecalho__nome,
.cabecalho__logo-nome div {
    font-weight: bold;
    white-space: nowrap;   
}

.cabecalho__nome {
    font-size: 16px;
}

/* ------------------------------ Seção Apresentação ------------------------------*/

.apresentacao {
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    padding: 0rem 1rem;
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.apresentacao__titulo {
    font-size: 52px;
    line-height: 1.2;
    color: #464646;
    font-weight: bold;
    margin-bottom: 2rem;
}

.apresentacao__subtitulo {
    font-size: 22px;
    color: #464646;
    font-weight: 300;
    line-height: 1.4;
    margin-top: 0rem;
}

.apresentacao__foto {
    width: 368px;
    height: 368px;
    object-fit: cover;
    border-radius: 50%;
}

.redes {
    display: flex;
    justify-content: flex-start;
    gap: 4%;
    padding: 1rem;
}

.apresentacao__conteiner {
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/

.sobre-mim {
    display: flex;
    flex-direction: column;
    padding: 34px;
    height: 310px;
    margin-top: 20px;
    background-color: rgba(234, 242, 253, 1);
}

.sobre-mim__titulo {
    font-size: 32px;
    margin-bottom: 10px;
}

.sobre-mim__texto {
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
}

.sobre-mim__assinatura {
    height: auto;
    width: 170px;
}


/*------------------------------ Seção de Habilidades ------------------------------*/
.hobbies,
.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 0;
}

.hobbies__titulo,
.habilidades__titulo {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: #464646;
    margin-bottom: -1rem;
}

.hobbies__lista,
.habilidades__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.hobbies__elemento,
.habilidades__elemento {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    padding-top: 1.5rem;
    background-color: white;
    width: 176px;
    height: 174px;
}

.hobbies__icone,
.habilidades__icone {
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-color: #ffffff;
    margin-top: auto;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hobbies__nome,
.habilidades__nome {
    display: flex;
    align-items: flex-end;
    margin-left: 0.5rem;
    padding-top: 0.5rem;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    position: relative;
    margin-top: auto; 
    align-self: flex-start; 
    padding-left: 0.5rem; 
}

.habilidades__icone--php {
    width: 60px;
    height: 60px;
    object-fit: contain;
    background-color: #ffffff;
    margin-left: 1rem;
    margin-top: 1.5rem;
    padding: 0.1rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habilidades__icone--node {
    width: 60px;
    height: 60px;
    object-fit: contain;
    background-color: #ffffff;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.1rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------ Seção de Hobbies --------------------------------*/


.hobbies__icone--trilha {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: #ffffff;
    margin-left: 1rem;
    margin-bottom: -1.3rem;
    padding: 0.1rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*------------------------------ Seção de Formação Acadêmica --------------------------------*/
.formacao {
    background-color: rgba(234, 242, 253, 1);
    padding: 2rem 1rem;
}

.formacao__titulo {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    color: #464646;
}

.formacao__lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 6rem;
    gap: 2rem;
}

.formacao__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; 
    text-align: center; 
    width: 100%;
}

.formacao__card {
    background-color: white;
    width: 368px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 286px; 
}


.formacao__icone {
  max-width: 100%;
  height: auto;
}

.formacao__texto {
    text-align: left;
}

.formacao__nome {
    font-size: 22px;
}

.formacao__detalhe {
    font-size: 16px;
    color: #666
}

/*------------------------------ Seção de Projetos --------------------------------*/
.projetos__titulo {
    text-align: center;
    font-size: 32px;
    color: #666;
}

.projetos__container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 28px;
}

.projetos__container2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1.5rem;
    padding: 28px;
}

.projetos__textos-botoes {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}

.projetos__nome {
    font-size: 22px;
}

.projetos__descricao {
    font-size: 16px;
}

.projetos__botoes {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.botao_azul {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #2A7AE4;
    color: white;            
    border: none;            
    padding: 16px;           
    cursor: pointer;      
    font-size: 16px;       
    font-weight: 200;        
    width: 105px;           
    height: 51px;           
    text-align: center;       
}

.botao_azul:hover {
    background-color: #2A7AE4; 
}

.botao_branco {
    display: flex;
    justify-content: center;
    align-items: center;      
    background-color: white;  
    color: #2A7AE4;          
    border: 1px solid #2A7AE4;
    padding: 16px;            
    cursor: pointer;          
    font-size: 16px;         
    font-weight: 200;        
    width: 105px;            
    height: 51px;             
    text-align: center;      
}

.botao_branco:hover {
    background-color: #8aaeda; 
    color: white;              
    border: 1px solid #8aaeda;
}

.botao_azul:hover {
    background-color: #8aaeda;
    color: #ffffff;             
    border: 1px solid #8aaeda;
}


/*------------------------------ Seção de Contato ---------------------------------*/

.contato {
    background-color: rgba(234, 242, 253, 1);
    width: 100%;            
    margin-top: 0;               
    padding: 50px 0;         
}

.contato__titulo {
    font-size: 32px;
    margin:0;
}

.contato_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contato_foto {
    max-width: 464px;        
    height: 593;              
    flex-shrink: 0;             
    margin-right: 20px;
    margin-left: 50px;
}


.formulario_container {
    display: flex;                
    flex-direction: column;      
    justify-content: space-between;    
    width: 100%;               
}

.contato__formulario {
    display: flex;              
    flex-direction: column;     
    width: 95%;                 
    color: #A2A2A2;
    line-height: 20px;
}

.contato__campo {
    background-color: white; 
    border: none;
    border-radius: 4px; 
    padding: 35px 10px 10px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;          
    width: 90%;                
    box-sizing: border-box;      
    height: 45px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 16px; 
    font-family: 'Raleway';
    color: #333; 
    outline: none;
    line-height: 1.5; 
    align-items: center;
    height: 56px;
}

.contato__campo--textarea {
    height: 100px;                
    resize: none;                 
    height: 133px;
}

.contato__campo::placeholder {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #aaa; 
    line-height: normal;
    text-align: left; 
}


.contato__botao {
    background-color: #2A7AE4;   
    color: white;   
    padding: 10px;         
    border: none;      
    cursor: pointer;   
    font-size: 16px;         
    text-align: center;       
    width: 165px;
    height: 51px;
}

.contato__botao:hover {
    background-color: #1857a8;  
}

.campo-container {
    position: relative;
    margin-bottom: 20px;
    height: 115px;
}



.campo-label {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 14px;
    color: #aaa;
    pointer-events: none;
}

.contato__formulario .campo-container:last-child {
    margin-bottom: 25px;
}

/* ------------------------------ Rodapé ---------------------------------------*/

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

/* ------------------------------ Responsividade ---------------------------------------*/

@media (max-width: 1024px) {

    .cabecalho {
        flex-direction: column;
        align-items: flex-start; 
        padding: 1rem;
    }

    .navegacao__lista {
        display: none;
    }
        
    .apresentacao {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .apresentacao__titulo {
        font-size: 22px;
        margin-bottom: 10px ;
    }

    .apresentacao__subtitulo{
        font-size: 16px;
    }

    .apresentacao__foto {
        object-fit: cover;
        border-radius: 50%;
        height: auto;
        width: 150px;
    }

    .redes {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }

    .sobre-mim {
        display: flex;
    }

    .sobre-mim__titulo {
        font-size: 22px;
    }

    .sobre-mim__texto {
        font-size: 14px;
    }

    .sobre-mim__assinatura {
        max-width: 100%;
        object-fit: contain;
        height: auto;
        width: 170px;
        margin-bottom: 20px;
    }

    .habilidades__titulo, 
    .hobbies__titulo, 
    .formacao__titulo, 
    .projetos__titulo, 
    .contato__titulo {
        font-size: 22px;
    }

    .hablidades, 
    .hobbies {
        display: flex;
    }

    .habilidades__lista, 
    .hobbies__lista {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        gap: 2rem;
        justify-content: space-evenly;
        align-content: center; 
    }

    .hobbies__elemento,
    .habilidades__elemento {
        width: 224px;
        height: 118px;
    }

    .projetos__nome {
        font-size: 16px;
        margin: 5px;
    }

    .projetos__descricao {
        font-size: 14px;
        margin: 5px;
    }

    .projetos__container1,
    .projetos__container2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem;
    }

    .projetos__textos-botoes {
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
    }

    .projetos__textos {
        display: flex;
        flex-direction: column;
    }

    .projetos__botoes {
        display: flex;
        margin-bottom: 2rem;        
    }
    

    .formacao__card {
        width: 224px;
        height: 224px;
        display: flex;
        justify-content: space-around;
    }
    
   

    .decodificador_de_texto {
        width: 100%;  
        max-width: 800px;  
        overflow: hidden;  
        border: 2px; 
        padding: 10px; 
        display: flex;
        align-items: center;
    }

    .contato_foto {
        display: none;
    }

    .contato__botao {
        margin-top: 3rem;
    }

    .contato_container {
        margin-left: 1rem;
    }

    .campo-container {
        position: relative;
        margin-bottom: 0px;
        height: 100px;
    }
}

@media (max-width: 768px) {

    .body {
        margin: 0;
        padding: 0;

    }
    .cabecalho {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }

    .cabecalho__logo-nome {
        justify-content: space-between;
        width: 100%; 
        font-weight: 200;
        font-size: 12px;
    }
    
    .cabecalho__nome {
        font-size: 14px;
        line-height: 1.2;
    }

    .navegacao {
        margin: 0; 
        width: 100%;
    }

    .navegacao__lista {
        display: none;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        gap: 1rem;
        width: 100%;
        box-sizing: border-box;
    }

    .apresentacao__foto {
        width: 98px;
        height: 98px;
    }

    .apresentacao__titulo {
        margin: 0;
    }

    .apresentacao__subtitulo {
        font-size: 14px;
        margin-top: 10px;
    }

    .redes {
        display: flex;
        justify-content: space-around;
        font-size: 12px;
        padding: 0;
    }

    .rede__elemento {
        display: flex;
        flex-direction: row;
    }

    .sobre-mim {
        padding-top: 0;
        height: 490px;
    }

    .sobre-mim__texto {
        font-size: 14px;
        font-weight: 400;        
        row-gap: 2rem;
    }

    .sobre-mim__assinatura {
        position: relative;
        top: -40px;
        left: -30px;
    }

    .habilidades__lista, 
    .hobbies__lista {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        justify-content: space-evenly; 
        align-content: center; 
    }

    .hobbies__elemento,
    .habilidades__elemento {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1.8rem;
        gap: 1rem;
        background-color: white;
        width: 135px; 
        height: 118px;
        margin-right: 0rem;
    }

    .hobbies__nome,
    .habilidades__nome{
        font-size: 16px;
        display: flex;
        justify-content: left;
        padding: 0;
        margin: 3px;
    }

    .formacao {
        height: 661px;
        padding-top: 0.5rem;
    }

    .formacao__lista {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.4rem;
        line-height: 1.2;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .formacao__icone {
        height: 100px;
    }

    .habilidades__titulo, 
    .hobbies__titulo, 
    .formacao__titulo, 
    .projetos__titulo, 
    .contato__titulo {
        font-size: 22px;
    }

    .formacao__nome {
        font-size: 16px;
    }

    .formacao__texto {
        white-space: nowrap;
        line-height: 0.5;
    }

    .formacao__detalhe {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .formacao__card {
        width: 240px;
        height: 118px;
        display: flex;
        justify-content: space-around;
    }
    
    .projeto_fokus
    .decodificador_de_texto {
        width: 100%;  
        max-width: 500px;  
        overflow: hidden; 
        border: 2px; 
        padding: 10px;  
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projeto_fokus {
        width: 100%;  
        max-width: 500px;  
        overflow: hidden;  
        border: 2px; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
        text-align: center;
        
        padding: 16px;
    
    }
}


